<div class="container">
  <h1><%= @task.title %></h1>
  <div class="description">
    <p><%= @task.details %></p>
  </div>
  <%= link_to "Edit this task", edit_task_path(@task)  %>
  <br>
  <%= link_to 'Back to my tasks', tasks_path %>
</div>